<?xml version="1.0"?>
<!-- <rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
  <atom:link href="http://www.errartistcollective.com/calendar.xml" rel="self" type="application/rss+xml" /> -->

<monthly>


	<event>
		<name>thanksgiving</name>
		<startdate>2016-09-19</startdate>
		<enddate>2016-09-21</enddate>
		<starttime>21:00:00</starttime>
		<endtime>00:00:00</endtime>
		<color>#7e3d3d</color>
    <info><p>this is info about the event</p>
</info>
		<eventurl>https://manage.siteleaf.com/sites/57ce2f5d0bf79d3b78b8b3d6/collections/events/new</eventurl>
		<address></address>

	</event>

	<event>
		<name>event title test</name>
		<startdate>2016-09-20</startdate>
		<enddate>2016-09-20</enddate>
		<starttime>18:00:00</starttime>
		<endtime>20:00:00</endtime>
		<color>#74ecf0</color>
    <info><p>event info tessssssssst</p>
</info>
		<eventurl>https://www.youtube.com/watch?v=LOZuxwVk7TU</eventurl>
		<address>2739 Buchanan st NE Minneapolis, MN 55418</address>

	</event>

	<event>
		<name>Birthday</name>
		<startdate></startdate>
		<enddate></enddate>
		<starttime></starttime>
		<endtime></endtime>
		<color></color>
    <info><p>info on event</p>
</info>
		<eventurl></eventurl>
		<address></address>

	</event>

	<event>
		<name>Christmas</name>
		<startdate></startdate>
		<enddate></enddate>
		<starttime></starttime>
		<endtime></endtime>
		<color></color>
    <info><p>this is info about the event</p>
</info>
		<eventurl></eventurl>
		<address></address>

	</event>


</monthly>
