<!-- About Section -->
    <section id="about" class="about">
      <h2 class="bg-red">"So what is this Err thing?"</h2>
        <div class="container">
            <div class="col-md-10 col-md-offset-1 about-text">
                <p>
                  Err (ryhmes with hair) was born in the summer of 2014 from all-caps Facebook comment threads, idealistic coffee dates, midnight run-ins on the street, and boozy candlelit scheming circles. We were a group of artists with a crystal clear passion, and a hazy idea. We knew that we believed in the art of our friends, and wanted to celebrate what they were creating. We knew that we wanted to make a space where good art met good vibes, and we knew that we wanted to help turn the emerging artist into the up-and-coming artist.
                </p>
                <p>
                  Today, we are an expanding, engaged creative community, providing artists space on both page and stage. Our monthly events and handmade zines feature local artists of all mediums.
                </p>

            </div>
        </div>
    </section>
