<section id="artists">
  <ul class="cd-accordion-menu animated">
		<li class="has-children">
			<input type="checkbox" name ="group-1" id="group-1" checked>
			<label for="group-1">ERR 17</label>

      		<ul>
            <!-- single person -->
      			<li class="has-children">
      				<input type="checkbox" name ="sub-group-1" id="sub-group-1">
					<label for="sub-group-1">Grace Lansing</label>

					<ul>
						<li class="info">
              <p>this is info about grace lansing. Vegan truffaut chillwave, cold-pressed narwhal gentrify bushwick everyday carry forage heirloom meditation pabst lumbersexual irony. </p>
            <a href="https://www.google.com/" target="_blank">portfolio site link</a>
          </li>
					</ul>
      			</li>
            <!-- single person end -->

            <!-- single person -->
            <li class="has-children">
              <input type="checkbox" name ="sub-group-21" id="sub-group-21">
          <label for="sub-group-21">Hanna</label>

          <ul>
            <li class="info">
              <p>this is info on Hanna</p>
            <a href="https://www.google.com/" target="_blank">portfolio site link</a>
          </li>
          </ul>
            </li>
            <!-- single person end -->

            <!-- single person -->
            <li class="has-children">
              <input type="checkbox" name ="sub-group-31" id="sub-group-31">
          <label for="sub-group-31">Shannon</label>

          <ul>
            <li class="info"><p>this is info on Shannon</p></li>
          </ul>
            </li>
            <!-- single person end -->

            <!-- group of people -->
      			<li class="has-children">
      				<input type="checkbox" name ="sub-group-2" id="sub-group-2">
					<label for="sub-group-2">Spice Girls</label>

					<ul>
						<li class="has-children">
							<input type="checkbox" name ="sub-group-level-3" id="sub-group-level-3">
							<label for="sub-group-level-3">baby</label>

							<ul>
								<li class="info"><p>this is info on baby spice</p></li>
							</ul>
						</li>

            <li class="has-children">
              <input type="checkbox" name ="sub-group-level-4" id="sub-group-level-4">
              <label for="sub-group-level-4">scary</label>

              <ul>
                <li class="info"><p>this is info on scary spice</p></li>
              </ul>
            </li>

            <li class="has-children">
              <input type="checkbox" name ="sub-group-level-5" id="sub-group-level-5">
              <label for="sub-group-level-5">posh</label>

              <ul>
                <li class="info"><p>this is info on posh spice</p></li>
              </ul>
            </li>
					</ul>
      			</li>
            <!-- group of people end -->

      		</ul>
		</li>

		<li class="has-children">
			<input type="checkbox" name ="group-2" id="group-2">
			<label for="group-2">ERR 16</label>

			<ul>
        <!-- single person -->
        <li class="has-children">
          <input type="checkbox" name ="sub-group-312" id="sub-group-312">
      <label for="sub-group-312">Henry</label>

      <ul>
        <li class="info"><p>this is info on Henry</p></li>
      </ul>
        </li>
        <!-- single person end -->
        <!-- single person -->
        <li class="has-children">
          <input type="checkbox" name ="sub-group-313" id="sub-group-313">
      <label for="sub-group-313">Matt</label>

      <ul>
        <li class="info"><p>this is info on Matt</p></li>
      </ul>
        </li>
        <!-- single person end -->
			</ul>
		</li>

		<li class="has-children">
			<input type="checkbox" name ="group-3" id="group-3">
			<label for="group-3">ERR 15</label>

			<ul>
				<li><a href="#0">Image</a></li>
				<li><a href="#0">Image</a></li>
			</ul>
		</li>

		<li class="has-children">
			<input type="checkbox" name ="group-4" id="group-4">
			<label for="group-4">ERR 14</label>

			<ul>
				<li class="has-children">
					<input type="checkbox" name ="sub-group-3" id="sub-group-3">
					<label for="sub-group-3">Sub Group 3</label>

					<ul>
						<li><a href="#0">Image</a></li>
						<li><a href="#0">Image</a></li>
					</ul>
				</li>
				<li><a href="#0">Image</a></li>
				<li><a href="#0">Image</a></li>
			</ul>
		</li>
	</ul> <!-- cd-accordion-menu -->

</section>
