<section id="artists" class="artists">
  <h2 class="bg-purple">Our Artists</h2>
  <div class="container">
  <div class="artist-accordion">
    <ul class="artist-accordion__list">
      {% for artist in site.artists %}
      <li>
        <input id="{{ forloop.index }}" type="checkbox" hidden />
        <label for="{{ forloop.index }}">
          <span class="fa fa-plus"></span>
          {{ artist.title }}, {{ artist.date | date: "%B %d %Y" }}</label>
        <ul class="group-list">
          {% for group in artist.groups %}
          <li>
            <input id="sub-{{ forloop.index }}" type="checkbox" hidden />
            <label for="sub-{{ forloop.index }}">
              <!-- <span class="fa fa-angle-right"></span>  -->
              {{ group.group_name }}</label>

            <ul class="sub-group-list">
              <!-- <li><p>{{ group.group_info }}</p><a href="{{ group.group_url }}">group link</a></li> -->
              {% for member in group.members %}
              <li>

                <input id="sub-sub-{{ forloop.index }}" type="checkbox" hidden />
                <label for="sub-sub-{{ forloop.index }}">
                  <!-- <span class="fa fa-angle-right"></span>  -->


                  {{ member.member_name }}</label>
                <!-- <ul class="sub-sub-group-list">
                  <li><p>{{ member.member_info }}</p><a href="{{ member.member_url }}">member link</a></li>
                </ul> -->
              </li>
              {% endfor %} <!-- members -->
            </ul>
          </li>


          {% endfor %} <!-- groups test-->
          {% for individual in artist.individuals %}
          <li>
            <input id="sub-ind-{{ forloop.index }}" type="checkbox" hidden />
            <label for="sub-ind-{{ forloop.index }}">
              <!-- <span class="fa fa-angle-right"></span>  -->
              {{ individual.name }}</label>
            <!-- <ul class="sub-group-list">
              <li><p>{{ individual.info }}</p><a href="{{ individual.url }}">individual link</a></li>
            </ul> -->
          </li>
          {% endfor %} <!-- individual -->
        </ul>
      </li>
      {% endfor %} <!-- artists -->
    </ul>
  </div>
  </section>
