<section id="artists" class="artists">
  <h2 class="bg-purple">{{ site.headline_artists }}</h2>
  <div class="container">
  <div class="artist-accordion">
    <ul class="artist-accordion__list">

         {% assign artists = site.artists | sort: 'position' %}
            {% for artist in artists %}
      <li>
        <input id="{{ forloop.index }}" type="checkbox" hidden />
        <label for="{{ forloop.index }}">
          <span class="fa fa-plus"></span>
          {{ artist.title }}</label>
        <ul class="group-list">
          {% for group in artist.groups %}
          <li>


              {% if group.group_url | length %}
              <a href="{{ group.group_url }}" target="_blank">{{ group.group_name }}</a>
              {% else %}
              {{ group.group_name }}
              {% endif %}

            <!-- </label> -->

            <ul>
              {% for member in group.members %}
              <li>



                  {% if member.member_url | length %}
                  <a href="{{ member.member_url }}" target="_blank">{{ member.member_name }}</a>
                  {% else %}
                  {{ member.member_name }}
                  {% endif %}

                <!-- </label> -->
              </li>
              {% endfor %} <!-- members -->
            </ul>
          </li>


          {% endfor %} <!-- groups -->
          {% for individual in artist.individuals %}
          <li>


              {% if individual.url | length %}
              <a href="{{ individual.url }}" target="_blank">{{ individual.name }}</a>
              {% else %}
              {{ individual.name }}
              {% endif %}

            <!-- </label> -->
          </li>
          {% endfor %} <!-- individual -->
        </ul>
      </li>
      {% endfor %} <!-- artists -->
    </ul>
  </div>
  </section>
