<!-- <ul>
  <li>
  </li>
  <li>
  </li>
  <li>
  </li>
</ul> -->
<li>
    <h4>Grace Lansing</h4>
<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
	<div class="flipper">
		<div class="front">
			<!-- front content -->
      <img src="http://placekitten.com/g/320/400" />
		</div>
		<div class="back">
      <h6>Title</h6>
      <p>
        Ninja
      </p>
      <h6>Bio</h6>
      <p>
        Pitchfork yr cliche, before they sold out brunch knausgaard blog photo booth fanny pack gastropub. Bushwick godard trust fund cornhole stumptown funditch.
      </p>
			<!-- back content -->
		</div>
	</div>

</div>
</li>
