<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="navbar-header page-scroll">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <!-- <a class="navbar-brand page-scroll" href="#page-top">{{site.title}}</a> -->
          <a class="navbar-brand page-scroll" href="#page-top">
            <img src="img/logo.png" />
            <h1>Err on the side of art.</h1>
          </a>
      </div>

            <!-- Brand and toggle get grouped for better mobile display -->


            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="hidden active">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#artists">Artists</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#book">The Book</a>
                    </li>

                    <li>
                        <a class="page-scroll" href="#calendar">Calendar</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#archive">Archive</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->

        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
              <h3>
                {% for lines in site.info_intro_large %}
                  {{ lines.line }} <br />
                {% endfor %}</h3>
              <p>
                {% for lines in site.info_intro_small %}
                  {{ lines.line }} <br />
                {% endfor %}
              </p>
            </div>
        </div>
    </header>
