<section id="people">
  <ul class="card-flip">

{% for person in site.people %}
<li>
<h4>{{ person.err-name }}</h4>
<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
<div class="flipper">
<div class="front">
<!-- front content -->
<img src="img/portfolio/{{ person.err-img }}" class="img-responsive img-centered" alt="{{ person.err-alt }}">
</div>
<div class="back">
<h6>Bio</h6>
<p>
  {{ person.err-description }}
</p>
<!-- back content -->
</div>
</div>

</div>
</li>
{% endfor %}

</ul>
</section>
