<section id="people">
  <ul class="card-flip">

{% for post in site.posts %}
<li>
<h4>{{ post.name }}</h4>
<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
<div class="flipper">
<div class="front">
<!-- front content -->
<img src="img/portfolio/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">
</div>
<div class="back">
<h6>Bio</h6>
<p>
  {{ post.description }}
</p>
<!-- back content -->
</div>
</div>

</div>
</li>
{% endfor %}

</ul>
</section>
