/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 205px;
	height: 330px;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
  background-color: $gray-purple;
  padding: 10px;
  color: #fff;

	p {
		font-size: 13px;
		word-wrap: break-word;
	}
}
.card-flip {
	min-width:300px;
	padding:0;
  list-style-type: none;
  // display: -webkit-flex;
  // display: -ms-flexbox;
  // display: flex;
  // -webkit-justify-content: space-between;
  // -ms-flex-pack: justify;
  // justify-content: space-around;
  // flex-wrap: wrap;
    li {
			display: inline-block;
			margin: 20px;
  }
  h4 {
    text-align: center;
  }
}
