
.navbar {
  background-color: $black;
  border-bottom: solid 10px $dark-red;
  padding: 70px 0 0;
  transition: all .3s ease;

  &.navbar-shrink {
    padding:15px 0 10px;

    a.navbar-brand {
      top: -18px;
      transition: all .3s ease;
        img {
        height: 75px;
        transition: all .3s ease;
      }
    }
  }

  .nav {
    float: right;
      li {
        a:hover,
        a:focus {
          color: $cream;
        }
        &.active a,
        &.active a:hover,
        &.active a:focus {
          background-color: $dark-red;
        }
        a {
        font-size: 25px;
        padding-left: 25px;
        padding-right: 25px;
      }
    }
  }

  .navbar-brand {
    position: absolute;
    top: -6px;
    left: 20px;

    h1 {
      font-size: 20px;
      display: inline-block;
      width: 140px;
      color: $cream;
      vertical-align: bottom;
    }
  }
}
@media screen and (max-width: 768px) {
  .navbar.navbar-shrink a.navbar-brand img {
    vertical-align: top;
  }
}
@media screen and (max-width: 1029px) {
  .navbar .nav li a {
    font-size: 12px;
  }
}
