// @include font-face(Samplino, fonts/Samplino);

@font-face {
   font-family: "albert";
   src: url(albertsthal_typewriter/Albertsthal_Typewriter.ttf);
}
@font-face {
   font-family: "baskerville";
   src: url(libre-baskerville/LibreBaskerville-Regular.ttf);
}
* {
  font-family: "baskerville";
}
h1, h2, h3, h4, h5, h6,
.navbar-default .nav li a {
  font-family: "albert";
  text-transform: none;
}
