//colors
$dark-red: #4a1017;
$dark-blue: #2b424d;
$gray-purple: #645756;
$black: #000;
$white: #fff;


.bg-red {background-color: $dark-red;}
.bg-blue {background-color: $dark-blue;}
.bg-purple {background-color: $gray-purple;}
.red {color: $dark-red;}
.blue {color: $dark-blue;}
.purple {color: $gray-purple;}
