<?xml version="1.0"?>
<!-- <rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
  <atom:link href="{{ "calendar.xml" | prepend: site.baseurl | prepend: site.url }}" rel="self" type="application/rss+xml" /> -->

<monthly>

{% for event in site.events %}
	<event>
		<name>{{ event.title }}</name>
		<startdate>{{ event.starts_at | date: "%Y-%m-%d" }}</startdate>
		<enddate>{{ event.ends_at | date: "%Y-%m-%d" }}</enddate>
		<starttime>{{ event.starts_at | date: "%X" }}</starttime>
		<endtime>{{ event.ends_at | date: "%X" }}</endtime>
		<color>{{ event.event_color }}</color>
    <info>{{ event.content }}</info>
		<url>{{ event.url }}</url>
	</event>
{% endfor %}

</monthly>
